.checkbox-inline label, .radio-inline label{
  font-weight: normal;
}

.btn-copy-to-clipboard {
/*
 * Class serves only as marker for buttons to copy large text from element to clipboard.
 * see: new ClipboardJS('.btn-copy-to-clipboard') in src/main/webapp/WEB-INF/views/jsp/fragments/footer.jsp
 */
}

.hidden-clipboard-text {
    opacity:0;
    position: absolute;
    clip: rect(0, 0, 0, 0);
    border: 0;
    width: 0;
    height: 0;
}

.table-scrollable thead {
  width: 97%;
}
.table-scrollable tbody {
  height: 230px;
  overflow-y: auto;
  width: 100%;
}
.table-scrollable thead, .table-scrollable tbody, .table-scrollable tr, .table-scrollable td, .table-scrollable th {
  display: block;
}
.table-scrollable tbody td, .table-scrollable thead > tr> th {
  float: left;
  border-bottom-width: 0;
}